$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1.125rem;

$primary: #04353C;
$dark: $primary;

$theme-colors: (
	primary: $primary,
	dark: $dark
);

$body-bg: #0A545F;
$body-color: $primary;

$border-radius-sm: .3rem;
$border-radius: .5rem;
$border-radius-lg: .7rem;

@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');


.page-body{
	background-image: url('../images/body-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}